ACCENT_BG={{base0E-hex}}
ARC_TRANSPARENCY=True
ARC_WIDGET_BORDER_COLOR=d4d4d4
BASE16_GENERATE_DARK=True
BASE16_INVERT_TERMINAL=False
BASE16_MILD_TERMINAL=False
BG={{base00-hex}}
BTN_BG={{base01-hex}}
BTN_FG={{base04-hex}}
BTN_OUTLINE_OFFSET=-3
BTN_OUTLINE_WIDTH=1
CARET1_FG=333333
CARET2_FG=333333
CARET_SIZE=0.04
CINNAMON_OPACITY=1.0
FG={{base05-hex}}
GRADIENT=0.0
GTK3_GENERATE_DARK=True
HDR_BG={{base01-hex}}
HDR_BTN_BG={{base00-hex}}
HDR_BTN_FG={{base05-hex}}
HDR_FG={{base04-hex}}
ICONS_ARCHDROID={{base0E-hex}}
ICONS_DARK={{base0E-hex}}
ICONS_LIGHT={{base0E-hex}}
ICONS_LIGHT_FOLDER={{base0E-hex}}
ICONS_MEDIUM={{base0E-hex}}
ICONS_NUMIX_STYLE=0
ICONS_STYLE=gnome_colors
ICONS_SYMBOLIC_ACTION=b9b9b9
ICONS_SYMBOLIC_PANEL=555555
MATERIA_PANEL_OPACITY=0.6
MATERIA_SELECTION_OPACITY=0.32
MATERIA_STYLE_COMPACT=True
MENU_BG={{base01-hex}}
MENU_FG={{base04-hex}}
NAME={{scheme-name}}
OUTLINE_WIDTH=1
ROUNDNESS=2
SEL_BG={{base02-hex}}
SEL_FG={{base06-hex}}
SPACING=3
SPOTIFY_PROTO_BG={{base00-hex}}
SPOTIFY_PROTO_FG={{base05-hex}}
SPOTIFY_PROTO_SEL={{base02-hex}}
SURUPLUS_GRADIENT1=b9b9b9
SURUPLUS_GRADIENT2=f0544c
SURUPLUS_GRADIENT_ENABLED=False
TERMINAL_ACCENT_COLOR={{base0E-hex}}
TERMINAL_BACKGROUND={{base00-hex}}
TERMINAL_BASE_TEMPLATE=monovedek
TERMINAL_COLOR0={{base00-hex}}
TERMINAL_COLOR1={{base01-hex}}
TERMINAL_COLOR10={{base0A-hex}}
TERMINAL_COLOR11={{base0B-hex}}
TERMINAL_COLOR12={{base0C-hex}}
TERMINAL_COLOR13={{base0D-hex}}
TERMINAL_COLOR14={{base0E-hex}}
TERMINAL_COLOR15={{base0F-hex}}
TERMINAL_COLOR2={{base02-hex}}
TERMINAL_COLOR3={{base03-hex}}
TERMINAL_COLOR4={{base04-hex}}
TERMINAL_COLOR5={{base05-hex}}
TERMINAL_COLOR6={{base06-hex}}
TERMINAL_COLOR7={{base07-hex}}
TERMINAL_COLOR8={{base08-hex}}
TERMINAL_COLOR9={{base09-hex}}
TERMINAL_FOREGROUND={{base05-hex}}
TERMINAL_THEME_ACCURACY=128
TERMINAL_THEME_AUTO_BGFG=True
TERMINAL_THEME_EXTEND_PALETTE=False
TERMINAL_THEME_MODE=auto
THEME_STYLE=oomox
TXT_BG={{base01-hex}}
TXT_FG={{base04-hex}}
UNITY_DEFAULT_LAUNCHER_STYLE=False
WM_BORDER_FOCUS=f0544c
WM_BORDER_UNFOCUS=444444
