TERMINAL_BACKGROUND={{base00-hex}}
TERMINAL_FOREGROUND={{base05-hex}}
TERMINAL_COLOR0={{base01-hex}}
TERMINAL_COLOR1={{base08-hex}}
TERMINAL_COLOR2={{base0B-hex}}
TERMINAL_COLOR3={{base09-hex}}
TERMINAL_COLOR4={{base0D-hex}}
TERMINAL_COLOR5={{base0E-hex}}
TERMINAL_COLOR6={{base0C-hex}}
TERMINAL_COLOR7={{base06-hex}}
TERMINAL_COLOR8={{base02-hex}}
TERMINAL_COLOR9={{base08-hex}}
TERMINAL_COLOR10={{base0B-hex}}
TERMINAL_COLOR11={{base0A-hex}}
TERMINAL_COLOR12={{base0D-hex}}
TERMINAL_COLOR13={{base0E-hex}}
TERMINAL_COLOR14={{base0C-hex}}
TERMINAL_COLOR15={{base07-hex}}
BG={{base00-hex}}
FG={{base05-hex}}
HDR_BG={{base01-hex}}
HDR_FG={{base04-hex}}
SEL_BG={{base02-hex}}
SEL_FG={{base04-hex}}
ACCENT_BG={{base0E-hex}}
TXT_BG={{base00-hex}}
TXT_FG={{base05-hex}}
BTN_BG={{base01-hex}}
BTN_FG={{base04-hex}}
HDR_BTN_BG={{base01-hex}}
HDR_BTN_FG={{base05-hex}}
ICONS_LIGHT_FOLDER={{base06-hex}}
ICONS_LIGHT={{base06-hex}}
ICONS_MEDIUM={{base05-hex}}
ICONS_DARK={{base09-hex}}